In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\mohdk\OneDrive\Desktop\DA\airline_logical_data.csv")

In [3]:
df

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
0,8498,SpiceJet,ATR72,CCU,MAA,2023-06-12,1384.0,3.094867,2963.516704,3828.490167,Cloudy,0.000000,62
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519.0,NaN,2912.486246,1790.502002,Cloudy,27.908655,119
2,1877,GoAir,B737,CCU,DEL,2023-11-30,1423.0,2.112585,2177.869901,5122.704201,Cloudy,26.339672,122
3,1598,GoAir,B737,AMD,HYD,2023-06-30,907.0,1.515557,2204.381503,3289.369504,Cloudy,13.771963,143
4,2722,GoAir,ATR72,HYD,PNQ,2023-10-24,529.0,1.717573,2321.112931,1543.099700,Clear,18.920403,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102995,2098,GoAir,A321,CCU,AMD,2023-12-06,1753.0,2.531112,2995.180173,6435.115093,Clear,7.730974,195
102996,1978,GoAir,A321,AMD,PNQ,2023-07-21,519.0,1.137145,2971.397586,2030.405612,Clear,3.564183,158
102997,7474,Air India,A320,DEL,DEL,2023-08-29,0.0,0.500000,3380.840213,500.000000,Clear,0.000000,93
102998,2248,IndiGo,B777,MAA,PNQ,2023-07-17,933.0,1.425115,3542.425616,3908.780885,Rainy,27.970932,243
102999,6529,SpiceJet,ATR72,BOM,MAA,2023-05-23,1056.0,2.655092,2963.984721,2977.489964,Foggy,88.251829,65

In [4]:
df["Aircraft_Type"].unique().tolist()

['ATR72', 'A320', 'B737', 'A321', 'B777']

In [5]:
df.head()

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
0,8498,SpiceJet,ATR72,CCU,MAA,2023-06-12,1384.0,3.094867,2963.516704,3828.490167,Cloudy,0.000000,62
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519.0,NaN,2912.486246,1790.502002,Cloudy,27.908655,119
2,1877,GoAir,B737,CCU,DEL,2023-11-30,1423.0,2.112585,2177.869901,5122.704201,Cloudy,26.339672,122
3,1598,GoAir,B737,AMD,HYD,2023-06-30,907.0,1.515557,2204.381503,3289.369504,Cloudy,13.771963,143
4,2722,GoAir,ATR72,HYD,PNQ,2023-10-24,529.0,1.717573,2321.112931,1543.099700,Clear,18.920403,40

In [6]:
df.tail()

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
102995,2098,GoAir,A321,CCU,AMD,2023-12-06,1753.0,2.531112,2995.180173,6435.115093,Clear,7.730974,195
102996,1978,GoAir,A321,AMD,PNQ,2023-07-21,519.0,1.137145,2971.397586,2030.405612,Clear,3.564183,158
102997,7474,Air India,A320,DEL,DEL,2023-08-29,0.0,0.500000,3380.840213,500.000000,Clear,0.000000,93
102998,2248,IndiGo,B777,MAA,PNQ,2023-07-17,933.0,1.425115,3542.425616,3908.780885,Rainy,27.970932,243
102999,6529,SpiceJet,ATR72,BOM,MAA,2023-05-23,1056.0,2.655092,2963.984721,2977.489964,Foggy,88.251829,65

In [7]:
df.describe()

,Flight_Number,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Delay_minutes,Passenger_Count
count,103000.000000,99923.000000,98884.000000,97864.000000,99919.000000,100939.000000,103000.000000
mean,5504.013641,917.581698,1.723958,3404.123384,3333.542792,21.387516,142.368816
std,2600.725983,570.654171,0.836503,664.495556,1993.218002,19.882704,71.012163
min,1000.000000,0.000000,0.500000,1715.010897,500.000000,0.000000,29.000000
25%,3250.000000,499.000000,1.081441,2897.401610,1768.671832,4.593466,96.000000
50%,5510.500000,907.000000,1.690917,3322.931316,3291.577734,17.575390,136.000000
75%,7752.000000,1384.000000,2.278145,3870.952712,4924.585924,32.179635,174.000000
max,9998.000000,1769.000000,4.349843,5612.914951,7575.644450,125.612276,332.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103000 entries, 0 to 102999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Flight_Number      103000 non-null  int64
 1   Airline            103000 non-null  object
 2   Aircraft_Type      103000 non-null  object
 3   Origin             103000 non-null  object
 4   Destination        103000 non-null  object
 5   Date               103000 non-null  object
 6   Distance_km        99923 non-null   float64
 7   Duration_hours     98884 non-null   float64
 8   Ticket_Price       97864 non-null   float64
 9   Fuel_Cost          99919 non-null   float64
 10  Weather_Condition  103000 non-null  object
 11  Delay_minutes      100939 non-null  float64
 12  Passenger_Count    103000 non-null  int64
dtypes: float64(5), int64(2), object(6)
memory usage: 10.2+ MB

In [9]:
df.columns

Index(['Flight_Number', 'Airline', 'Aircraft_Type', 'Origin', 'Destination',
       'Date', 'Distance_km', 'Duration_hours', 'Ticket_Price', 'Fuel_Cost',
       'Weather_Condition', 'Delay_minutes', 'Passenger_Count'],
      dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=103000, step=1)

In [11]:
df.size

1339000

In [12]:
# rows x columns
df.shape

(103000, 13)

In [13]:
df["Distance_km"].isna()

0         False
1         False
2         False
3         False
4         False
          ...
102995    False
102996    False
102997    False
102998    False
102999    False
Name: Distance_km, Length: 103000, dtype: bool

In [14]:
df.isna()

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102995,False,False,False,False,False,False,False,False,False,False,False,False,False
102996,False,False,False,False,False,False,False,False,False,False,False,False,False
102997,False,False,False,False,False,False,False,False,False,False,False,False,False
102998,False,False,False,False,False,False,False,False,False,False,False,False,False
102999,False,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
df[df.isna().any(axis=1)]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519.0,NaN,2912.486246,1790.502002,Cloudy,27.908655,119
5,4327,SpiceJet,A321,HYD,MAA,2023-02-23,516.0,NaN,3191.624024,1897.068230,Cloudy,10.805819,166
12,1289,Vistara,B777,CCU,PNQ,2023-04-21,1671.0,NaN,4959.089625,7032.822873,Rainy,61.485096,326
19,6456,Vistara,A320,CCU,PNQ,2023-04-02,1671.0,NaN,4076.351133,5810.759696,Cloudy,20.320287,148
27,2665,IndiGo,ATR72,BOM,BOM,2023-09-06,0.0,0.500000,3074.270830,NaN,Cloudy,0.000000,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102974,8047,Vistara,B777,AMD,CCU,2023-08-08,1753.0,2.533563,5143.983572,NaN,Cloudy,27.171770,252
102979,1267,IndiGo,ATR72,HYD,BOM,2023-03-07,NaN,1.888651,3009.473621,1883.571438,Rainy,27.868114,43
102982,4639,Air India,B777,MAA,AMD,2023-03-25,1395.0,NaN,4040.416971,5800.302084,Clear,8.787268,255
102983,1751,GoAir,B777,PNQ,BLR,2023-10-14,742.0,1.256462,3095.667634,NaN,Cloudy,0.000000,236
102994,2368,IndiGo,ATR72,AMD,HYD,2023-05-16,NaN,NaN,3097.782498,2485.684265,Clear,31.270984,61

In [16]:
df[df["Distance_km"].isna()]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
34,4477,Vistara,A320,BLR,PNQ,2023-02-06,NaN,1.379064,4106.881307,NaN,Clear,NaN,138
45,2173,IndiGo,A321,CCU,PNQ,2023-12-10,NaN,2.576099,3887.746539,6254.799279,Clear,1.400607,150
92,5805,SpiceJet,ATR72,AMD,HYD,2023-12-24,NaN,2.333787,2639.164410,2555.023412,Cloudy,2.113113,54
120,5876,GoAir,ATR72,AMD,HYD,2023-11-09,NaN,2.481339,2639.197486,2478.262865,Clear,0.828057,54
132,2537,SpiceJet,A321,BOM,AMD,2023-02-23,NaN,1.214166,3313.797133,1682.322687,Cloudy,5.439043,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102917,4371,GoAir,B777,DEL,CCU,2023-08-30,NaN,2.110687,3064.934820,5916.660659,Clear,34.765627,287
102950,3472,IndiGo,A320,DEL,MAA,2023-05-26,NaN,2.769739,3488.858721,6123.002284,Clear,30.619934,122
102972,4010,GoAir,B737,DEL,CCU,2023-06-13,NaN,NaN,2684.234827,5084.837654,Clear,23.734500,123
102979,1267,IndiGo,ATR72,HYD,BOM,2023-03-07,NaN,1.888651,3009.473621,1883.571438,Rainy,27.868114,43
102994,2368,IndiGo,ATR72,AMD,HYD,2023-05-16,NaN,NaN,3097.782498,2485.684265,Clear,31.270984,61

In [17]:
# NULL COUNT

df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km          3077
Duration_hours       4116
Ticket_Price         5136
Fuel_Cost            3081
Weather_Condition       0
Delay_minutes        2061
Passenger_Count         0
dtype: int64

In [18]:
df["Distance_km"].unique()

array([1384.,  519., 1423.,  907.,  529.,  516., 1601., 1186., 1056.,
        650., 1395., 1671.,    0.,  499.,  297.,  439., 1238., 1769.,
        856.,   nan, 1762., 1753., 1747.,  933.,  742., 1265., 1167.,
        124., 1247.,  806.])

In [19]:
df["Distance_km"].value_counts().to_dict()

{0.0: 12650,
 499.0: 3251,
 933.0: 3233,
 1423.0: 3192,
 1395.0: 3170,
 1247.0: 3161,
 742.0: 3159,
 297.0: 3155,
 1238.0: 3150,
 806.0: 3134,
 650.0: 3131,
 1762.0: 3130,
 124.0: 3122,
 519.0: 3118,
 1753.0: 3117,
 907.0: 3117,
 1186.0: 3114,
 1769.0: 3110,
 1167.0: 3109,
 1384.0: 3106,
 856.0: 3098,
 516.0: 3096,
 529.0: 3075,
 1671.0: 3072,
 1056.0: 3069,
 439.0: 3066,
 1747.0: 3026,
 1265.0: 3001,
 1601.0: 2991}

In [20]:
# count values
# df.groupby("Airline")["Aircraft_Type"].value_counts()

# in dict 
df.groupby("Airline")["Aircraft_Type"].value_counts().to_dict()

{('Air India', 'B737'): 4198,
 ('Air India', 'ATR72'): 4186,
 ('Air India', 'A321'): 4169,
 ('Air India', 'B777'): 4147,
 ('Air India', 'A320'): 4144,
 ('GoAir', 'A320'): 4261,
 ('GoAir', 'B777'): 4148,
 ('GoAir', 'B737'): 4108,
 ('GoAir', 'A321'): 4020,
 ('GoAir', 'ATR72'): 4015,
 ('IndiGo', 'ATR72'): 4223,
 ('IndiGo', 'B777'): 4161,
 ('IndiGo', 'A321'): 4093,
 ('IndiGo', 'A320'): 4074,
 ('IndiGo', 'B737'): 3965,
 ('SpiceJet', 'ATR72'): 4196,
 ('SpiceJet', 'B737'): 4116,
 ('SpiceJet', 'A321'): 4112,
 ('SpiceJet', 'A320'): 4111,
 ('SpiceJet', 'B777'): 4001,
 ('Vistara', 'B777'): 4192,
 ('Vistara', 'B737'): 4137,
 ('Vistara', 'ATR72'): 4122,
 ('Vistara', 'A321'): 4084,
 ('Vistara', 'A320'): 4017}

In [21]:
# NULL count

df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km          3077
Duration_hours       4116
Ticket_Price         5136
Fuel_Cost            3081
Weather_Condition       0
Delay_minutes        2061
Passenger_Count         0
dtype: int64

In [22]:
#DUPLICATED VALUES 

dup = df[df.duplicated()]
# print(df.duplicated().sum())
dup.to_csv("Duplicates.csv",index=False)
df.drop_duplicates(inplace=True)
# df.reset_index(drop=True,inplace=True)

In [23]:
df[(df["Flight_Number"]==3055) & (df["Airline"]=="Vistara")]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
128,3055,Vistara,A320,DEL,BOM,2023-01-20,1167.0,1.914558,4150.294425,4123.110377,Clear,22.638000,141
964,3055,Vistara,A321,MAA,CCU,2023-07-06,1384.0,2.087410,5009.495198,5086.345356,Clear,41.351382,199
99244,3055,Vistara,ATR72,HYD,PNQ,2023-08-26,529.0,1.623769,3958.960680,1444.711047,Cloudy,0.558810,53
101691,3055,Vistara,A321,HYD,MAA,2023-11-01,516.0,1.036487,NaN,1955.510446,Clear,13.379201,151

In [24]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km          3000
Duration_hours       4000
Ticket_Price         5000
Fuel_Cost            3000
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [25]:
df[df.isna().any(axis=1)].shape

(15922, 13)

In [26]:
df.shape

(100000, 13)

In [27]:
df.size

1300000

In [28]:
df[(df["Origin"]=="MAA") & (df["Destination"]=="CCU")]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
227,9765,Vistara,B737,MAA,CCU,2023-06-26,1384.0,2.228762,4477.974811,5032.717653,Clear,27.764223,131
278,3322,SpiceJet,ATR72,MAA,CCU,2023-12-24,1384.0,3.116920,3037.153003,3872.026204,Rainy,62.016130,55
407,4553,Vistara,A321,MAA,CCU,2023-03-20,1384.0,2.115501,NaN,5145.938297,Clear,9.405362,191
450,6915,Air India,ATR72,MAA,CCU,2023-10-09,1384.0,3.446509,NaN,3949.896876,Rainy,57.975812,52
471,8589,GoAir,B777,MAA,CCU,2023-01-01,1384.0,2.060644,3002.811719,5744.070951,Clear,21.079238,282
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102681,6036,GoAir,B737,MAA,CCU,2023-11-13,1384.0,2.177627,NaN,5002.563911,Clear,19.972438,134
102727,6767,IndiGo,A321,MAA,CCU,2023-07-16,1384.0,2.149008,3872.485247,5187.554108,Rainy,31.337984,181
102858,3385,Air India,B777,MAA,CCU,2023-09-30,1384.0,2.073860,4173.245542,5857.052713,Clear,21.276505,268
102926,3708,GoAir,A320,MAA,CCU,2023-09-23,1384.0,2.027591,NaN,4853.090033,Clear,22.592622,160
102960,4747,GoAir,B737,MAA,CCU,2023-05-08,1384.0,2.103033,2498.159941,4954.655294,Clear,0.000000,119

In [29]:
ODD={i:
    [df[(df["Distance_km"]==i)]["Origin"].unique().tolist(),
    df[(df["Distance_km"]==i)]["Destination"].unique().tolist()]
        for i in df[(df["Distance_km"]!=0.0) & 
                    (df["Distance_km"].notna())]
                    ["Distance_km"].unique().tolist()
    }
    # print(i,j)
for i,j in ODD.items():
    df.loc[(df["Origin"]!=df["Destination"]) &
        (df["Origin"].isin(j[0])) & 
        (df["Destination"].isin(j[1])) &
        (df["Distance_km"].isna()),"Distance_km"]=i

df.loc[(df["Origin"]==df["Destination"]) & (df["Distance_km"].isna()),"Distance_km"]=0.0

In [30]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km             0
Duration_hours       4000
Ticket_Price         5000
Fuel_Cost            3000
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [31]:
# Ticket_price where origin is not equal to Destination (mean)

In [32]:
# df[(df["Airline"]=="SpiceJet") & (df["Aircraft_Type"]=="ATR72") & (df["Distance_km"]==1384.0)]["Ticket_Price"].unique().tolist()

In [33]:
# # Ticket_price where origin is not equal to Destination 

def nrst_to_mean(li):
    me=np.mean(li)
    nrs=min(range(len(li)),key=lambda x:abs(li[x]-me))
    return li[nrs]

AADT={i:{m:{q:nrst_to_mean(df[(df["Airline"]==i)&
                          (df["Aircraft_Type"]==m) &
                          (df["Distance_km"]==q) &
                          (df["Ticket_Price"].notna())]
                          ["Ticket_Price"].tolist()) for q in n 
            }
            for m,n in {k:df[(df["Airline"]==i) &
                             (df["Aircraft_Type"]==k) &
                             (df["Distance_km"]!=0.0)]
                             ["Distance_km"].unique().tolist() for k in j
                        }.items()
        }
            for i,j in{i:df[(df["Airline"]==i)]["Aircraft_Type"].unique()
                for i in df['Airline'].unique()
                        }.items()
    }

for i,j in AADT.items():
    for m,n in j.items():
        for q,w in n.items():
            df.loc[(df["Airline"]==i) &
                   (df["Aircraft_Type"]==m) &
                   (df["Distance_km"]==q) &
                   (df["Ticket_Price"].isna()),"Ticket_Price"]=w
            
# Ticket price where origin is equal to destination
OD={o:{d:df[(df["Origin"]==o) & 
            (df["Destination"]==d)]
            ["Distance_km"].unique().tolist()[0] for d in ld
        }for o,ld in 
        {i: df[(df["Origin"]==i) & 
               (df["Origin"]!=df["Destination"])]
               ["Destination"].unique().tolist()
            for i in df["Origin"].unique()
        }.items()
    }

 
for i,j in AADT.items(): 
    for k,l in j.items():
        # print(i,k,m,n) 
         for o in OD:
            des=np.random.choice(list(OD[o].keys()))
            dis=OD[o][des] 
            # print(i,k,o,des,dis, AADT[1][k][dis])
            df.loc[(df["Airline"]==i) & 
                   (df["Aircraft_Type"]==k) & 
                   (df["Origin"]==o) & 
                   (df["Origin"]==df["Destination"]) & 
                   (df["Ticket_Price"].isna()),"Ticket_Price"]=AADT[i][k][dis]

In [34]:
df.isna().sum()
# AADT

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km             0
Duration_hours       4000
Ticket_Price            0
Fuel_Cost            3000
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [35]:
# FUEL COST

In [36]:

AADWF={i:{j:{d:df[(df["Airline"]==i) &
            (df["Aircraft_Type"]==j) & 
            (df["Distance_km"]==d) & 
            (df["Fuel_Cost"].notna())].groupby("Weather_Condition")["Fuel_Cost"].unique().to_dict() 
            for d in df[(df["Airline"]==i) & 
                        (df["Aircraft_Type"]==j)].groupby("Distance_km")["Weather_Condition"].unique().to_dict()
            }              
                        for j in df[df["Airline"]==i].groupby("Aircraft_Type")["Distance_km"].unique().to_dict()
        }
                        for i in df.groupby("Airline")["Aircraft_Type"].unique().to_dict()
    }


for i,j in AADWF.items(): 
    for k,l in j.items(): 
        for m,n in l.items(): 
            for q,w in n.items(): 
                #print(i,k,m,q, np.random.choice(w))  
                df.loc[(df["Airline"]==i) & 
                       (df["Aircraft_Type"]==k) & 
                       (df["Distance_km"]==m) & 
                       (df["Weather_Condition"]==q) &                       
                       (df["Fuel_Cost"].isna()),"Fuel_Cost"]=np.random.choice(w)

In [37]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km             0
Duration_hours       4000
Ticket_Price            0
Fuel_Cost               0
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [38]:
# a= "aaassddeefghiiiggaassdeefggw"
# cnt=0
# z=a[0]
# s=""
# for i in a:
#     if z==i:
#         cnt+=1
#     else:
#         s+=z+str(cnt)
#         z=i
#         cnt=1
# s+=z+str(cnt)
# print(s)

In [39]:
# DURATION hours

AADWS={i:{j:{d:{w: (df[(df["Airline"]==i) &
                        (df["Aircraft_Type"]==j) &
                        (df["Distance_km"]==d) &
                        (df["Weather_Condition"]==w) &
                        (df["Duration_hours"].notna())]["Distance_km"] / df[(df["Airline"]==i) & 
                                                                            (df["Aircraft_Type"]==j) &
                                                                            (df["Distance_km"]==d) &
                                                                            (df["Weather_Condition"]==w) &
                                                                            (df["Duration_hours"].notna())]["Duration_hours"]).to_list()
                for w in q
            }for d,q in df[(df["Airline"]==i) &
                            (df["Aircraft_Type"]==j) &
                            (df["Distance_km"]!=0.0)].groupby("Distance_km")["Weather_Condition"].unique().to_dict().items()
        }for j in df[(df["Airline"]==i)].groupby("Aircraft_Type")["Distance_km"].unique().to_dict() 
    }for i in df.groupby("Airline")["Aircraft_Type"].unique().to_dict()
}

In [40]:
for i,j in AADWS.items():
    for l,k in j.items():
        for q,w in k.items():
            for p,o in w.items():
                try:
                    df.loc[(df["Airline"]==i) &
                           (df["Aircraft_Type"]==l) &
                           (df["Distance_km"]==q) &
                           (df["Weather_Condition"]==p) &
                           (df["Duration_hours"].isna()),"Duration_hours"]=q/np.random.choice(o)
                except Exception as e:
                    pass

df.loc[(df["Distance_km"]==0.0) & 
       (df["Duration_hours"].isna()),"Duration_hours"]=df[(df["Distance_km"]==0.0) & 
                                                         (df["Duration_hours"].notna())]["Duration_hours"].mean()

In [41]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km             0
Duration_hours          1
Ticket_Price            0
Fuel_Cost               0
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [42]:
# DELAY MINUTES
AADWD=df[df["Delay_minutes"].notna()].groupby(["Airline","Aircraft_Type","Distance_km","Weather_Condition"])["Delay_minutes"].unique().to_dict()
for i,j in AADWD.items():
    df.loc[(df["Airline"]==i[0]) &
        (df["Aircraft_Type"]==i[1]) &
        (df["Distance_km"]==i[2]) &
        (df["Weather_Condition"]==i[3]) &
        (df["Delay_minutes"].isna()),"Delay_minutes"]=np.random.choice(j)

In [43]:
df.isna().sum()

Flight_Number        0
Airline              0
Aircraft_Type        0
Origin               0
Destination          0
Date                 0
Distance_km          0
Duration_hours       1
Ticket_Price         0
Fuel_Cost            0
Weather_Condition    0
Delay_minutes        0
Passenger_Count      0
dtype: int64

In [44]:
df[df.isna().any(axis=1)]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
60076,9254,Vistara,A320,MAA,PNQ,2023-12-25,933.0,NaN,4329.050802,3285.889243,Foggy,93.092548,160

In [45]:
df.dropna(inplace=True)

In [46]:
df.isna().sum()

Flight_Number        0
Airline              0
Aircraft_Type        0
Origin               0
Destination          0
Date                 0
Distance_km          0
Duration_hours       0
Ticket_Price         0
Fuel_Cost            0
Weather_Condition    0
Delay_minutes        0
Passenger_Count      0
dtype: int64

In [47]:
df.reset_index(drop=True,inplace=True)

In [48]:
df["Date"]=pd.to_datetime(df["Date"],format="%Y-%m-%d")

In [49]:
def dhf(a):
    h=int(a)
    m=int((a-h)*60)
    s=round(((a-h)*60-m)*60)
    if s>=60:
        m+=s//60
        s=s%60
    if m>=60:
        h+=m//60
        m=m%60
    return f"{h:02d}:{m:02d}:{s:02d}"
df["Duration_hours"]=df["Duration_hours"].apply(lambda x:dhf(x))

In [50]:
def dmf(a):
    h=0
    m=int(a)
    s=round((a-m)*60)
    if s>=60:
        m+=s//60
        s=s%60
    if m>=60:
        h+=m//60
        m=m%60
    return f"{h:02d}:{m:02d}:{s:02d}"
df["Delay_minutes"]=df["Delay_minutes"].apply(lambda x:dmf(x))

In [51]:
df.to_csv("cleaned_airline_data.csv",index=False)

In [54]:
df.to_excel("cleaned_airline.xlsx",index=True)